footer {
    background-color: #222;
    padding: 40px 0px 10px 0;
    margin-top: 40px;
    height: 20%;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.redes {
    display: flex;

}

.redes img {
    width: 25px;
    margin: 0 10px;
}

.footer-end {
    text-align: center;
    font-size: 12px;
}

.name {
    color: #EB5757;
}